/repositories/backend/
/repositories/frontend/
/repositories/bike/
/data/*.json
/logs
*.env
*.env.backend
*.env.frontend
*.env.bike
__pycache__
*.pyc
*.pyo
*.pyd
*.log
venv/
*.md
!README.md
*.coverage
*.pytest_cache/
htmlcov/
