[submodule "backend"]
	path = submodules/backend
	url = https://github.com/Scooty-Doo/scooty-doo-backend
[submodule "frontend"]
	path = submodules/frontend
	url = https://github.com/Scooty-Doo/scooty-doo-frontend
[submodule "bike"]
	path = submodules/bike
	url = https://github.com/Scooty-Doo/scooty-doo-bike
