[submodule "submodules/backend"]
	path = submodules/backend
	url = https://github.com/Scooty-Doo/scooty-doo-backend
[submodule "submodules/frontend"]
	path = submodules/frontend
	url = https://github.com/Scooty-Doo/scooty-doo-frontend
[submodule "submodules/bike"]
	path = submodules/bike
	url = https://github.com/Scooty-Doo/scooty-doo-bike
